.review{
    .title{
        margin-bottom: 70px;
    }
    &_rev{
        margin-bottom: 100px;
        display: flex;
        &:nth-child(4){
            margin-bottom: 70px;
        }
        img{
            width: 169px;
            height: 169px;
            margin-right: 62px;
        }
        &_content{
            &_name{
                font-size: 18px;
                font-weight: 700;
            }
            &_title{
                margin-top: 10px;
                color: #646464;
                font-size: 14px;
                font-weight: 300;
            }
            &_text{
                margin-top: 19px;   
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}